@import 'partials/_menu';
@import 'partials/_post';

#header {

}

#title {
  display: flex;
  justify-content: center;
  background-image: url( "../assets/header_bg.svg" );
  background-repeat: no-repeat;
  background-position: center;


}

#mainContainer {
  background-image: url( "../assets/bg.jpg" );
  background-size: cover;
  min-height: 800px;
  display: flex;
  justify-content: center;

}

#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  width: 850px;

}

